{%extends 'all-photos/base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block content %}
{% for images_item in images %}
<div class="container">
    
    <div class="row">
    <!-- displaying News articles -->
    <div class="card" width = "18rem">
        <card class="header">
        <h8 class="text-center"> {{ images_item.profile }} </h8>
        </card>
        <card class="body">
        <p class = "text-center">{{images_item.caption}}</p>
    </div>
        <img src="..{{images_item.image_photo.url}}" class="img-responsive" alt="Image">
        <p>{{ images_item.url }}</p>
    
        </card>
        <card class="footer">
            <p>{{images_item.title}}</p>
        </card>
        </div>
</div>


{% endfor %}
<div class="container-fluid">

    <form action="{%url 'present'%}" method="post">
        {%csrf_token%}

        {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe">
    </form>
</div>

{% endblock %}

<!--End of the block content-->
{% block scripts %} {{block.super}}
<!-- <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script> -->
{% endblock %}

</html>